<nav>
    <div class="logo">
    <h2>Nombre</h2>
    </div>
    <div class="nav-items">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="/admin">admin</a></li>
        </ul>
    </div>
    <div class="nav-user">
        <a href="register">Sign Up</a>
        <a href="login">Login</a>
    </div>
</nav>